body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, #7399D1 34.9%, #FEFFFE 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(1, 82, 73, 0.2);;
}
*{
    text-decoration: none;
    margin : 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 25px;
    font-weight: 800;
    float: left;
    font-family: 'Poppins';
    color: black;
}

.menu {
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom .deskripsi{
    position: absolute;
width: 700px;
height: 47px;
left: 10px;
top: 518px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #000000;

}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    position: absolute;
    width: 731px;
    height: 180px;
    left: 127px;
    top: 332px;
    color:black;
}

a.blue-button{
    background: #92B1E0;
    border-radius: 10px;
    margin-top : 20px;
    padding: 10px 15px 10px 15px;
    color : white;
    cursor: pointer;
    font-weight: bold;
}

a.blue-button:hover {
    background: #fc5185;
    text-decoration: none;
}

.login{
    position: absolute;
    width: 521px;
    height: 698px;
    left: 460px;
    top: 206px;

}

.judul_login1{
    text-align: center;
    margin-bottom: 100px;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;

}
.tombol1{
    width: 521px;
    height: 77px;
    left: 459px;
    top: 664px;

    font-size: 20px;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
    border: 0px solid white;
    border-radius: 50px;
    margin-bottom: 25px;
}
.tulisan_masuk1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    
    text-align: center;

    color: #413F3F;


    

}
.tombol2{
    width: 521px;
    height: 77px;
    left: 459px;
    top: 759px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.12));
    border: 0px solid white;
    border-radius: 50px;
    margin-bottom: 20px;
}
.tulisan_masukgoogle{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    
    color: #413F3F;
    
}

.form_email{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;

}

.form_password{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;

}

.tombol_lupa{
    color: #FEFFFE;
    margin-bottom: 70px;

}

.tombol_daftar{
    color: black;
}